<div class="body-card" id="<%= id %>">
  <% if organiser.avatar.attached? %>
    <%= image_tag url_for(organiser.avatar), class: "card-avatar" %>
  <% else %>
    <%= image_tag image_path('default_avatar.jpg'), class: "card-avatar" %>
  <% end %>
  <div class="row">
    <div class="info-event col-md-6 col-sm-12 card-column animated fadeIn" id="left-part">
      <%= render "organisers/organiser_details", organiser: organiser %>
    </div>
    <div class="col-md-6 col-sm-12 card-column animated fadeIn">
      <%= render "organisers/event_list", organiser: organiser %>

    </div>
  </div>
  <div class="buttons-container d-flex align-items-center justify-content-between">
    <div class="left pad-left-none">
      <%= link_to "Visit organiser's website", organiser.website, class: "event-btn ired", target: "_blank" %>
    </div>
    <div class="right">
      <% if user_signed_in? %>
        <% unless current_user.organisers.include? organiser %>
          <%= link_to "Follow #{organiser.name}", organiser_user_organiser_path(organiser, current_user), remote: true, method: :patch, class: "event-btn redi animated fadeInUp", id:"organiser-follow-btn" %>
        <% else %>
          <%= link_to "You are following #{organiser.name}", organiser_user_organiser_path(organiser, current_user), remote: true, method: :delete, class: "event-btn redi animated fadeInUp", id:"organiser-follow-btn" %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>