<p class="event-title"><%= organiser.name %></p>
<p><%= organiser.organiser_type.name %></p>
<p class="event-type"><%= organiser.description %></p>
<p class="event-adress"><%= organiser.address %></p>
<%= link_to "Visit organiser's website", organiser.website, class: "event-btn ired", target: "_blank" %>
