<p class="event-title"><%= organiser.name %></p>
<p><%= organiser.organiser_type.name %></p>
<p class="event-description"><%= organiser.description %></p>
<p class="event-adress"><%= organiser.address %></p>
<button class="event-btn ired"><%= organiser.website %></button>
