<div class="body-card">
  <% if user.avatar.attached? %>
    <%= image_tag url_for(user.avatar), class: "card-avatar" %>
  <% else %>
    <%= image_tag image_path('default_avatar.jpg'), class: "card-avatar" %>
  <% end %>
  <div class="row">

    <div class="info-event col-md-6 col-sm-12 card-column" id="left-part">
      <p><%= user.name %></p> <p><%=user.surname %></p>
      <p><%= @user.bio %></p>
      <p>lirvlnbvihdkshnveomjzojoapiâanôinkenzipknvpzikjepbahpfîakbezhnvikeznjvbze</p>
      <% if current_user == user %>
        <button class="event-btn ired" data-toggle="modal" data-target="#exempleModal">
          Edit your profile</button>
        <%= render "edit_modal" %>
      <% else %>
        <%= link_to "Message #{user.name}", user_chats_path(current_user, other_user: user.id), method: :post, class: "simple-btn" %>
      <% end %>
    </div>
    <div class="col-md-6 col-sm-12 card-column">
      <%= render "event_list"%>
    </div>
  </div>
</div>
