<div class="user-row <%= extra_class %>" id="user-<%= user.id %>">
  <a rel="nofollow" href="/users/<%= user.id %>"><%= image_tag url_for(user.avatar), class: "avatar" %>
    <p class="user-row-text"><%= user.name %></p>
  </a>
  <div class="user-row-border"></div>
</div>
