<p class="event-title"><%= event.name %></p>
<p class="event-date"><%= event.start_date %>
  -
  <%= event.end_date %></p>
<p class="event-description"><%= event.description %></p>
<p class="event-adress"><%= event.address %></p>
<button class="event-btn red"><%= event.event_website %></button>