<div class="body-card">
  <% if event.organiser.avatar.attached? %>
    <%= image_tag url_for(event.organiser.avatar), class: "card-avatar" %>
  <% else %>
    <%= image_tag image_path('default_avatar.jpg'), class: "card-avatar" %>
  <% end %>
  <div class="row">
    <div class="info-event col-md-6 col-sm-12 card-column" id="left-part">
      <%= render "event_details", event: event %>
    </div>
    <div class="col-md-6 col-sm-12 card-column">
      <%= render "attendee_list"%>
      <% unless current_user.events.include? event %>
        <%= link_to "Register to the event", organiser_event_user_event_path(event.organiser, event, current_user), remote: true, method: :patch, class: "event-btn red", id:"event-attendee-btn" %>
      <% else %>
        <%= link_to "Unregister from the event", organiser_event_user_event_path(event.organiser, event, current_user), remote: true, method: :delete, class: "event-btn red", id:"event-attendee-btn" %>
      <% end %>
    </div>
  </div>
</div>