<p class="event-title"><%= event.name %></p>
<p class="event-type"><%= event.event_type.name %></p>
<p class="event-date">
  From <%= (event.start_date).strftime("%B %e, %Y") %>
  - To <%= (event.end_date).strftime("%B %e, %Y") %>
</p>
<p class="event-description"><%= event.description %></p>
<p class="event-adress"><%= event.address %></p>
<p class="event-interest-box"> <span class="event-interest-title">More events related to:</span>
  <% event.interests.each do |interest| %>
  <span class="event-interest" data-interest="<%= interest.id %>"><%=  interest.name %></span>
  <% end %>
</p>
