<p class="event-title"><%= event.name %></p>
<p class="event-interest-box">
  <% event.interests.each do |interest| %>
    <%= link_to interest.name, interest_path(interest), class: "event-interest"%>
  <% end %>
</p>
<p class="event-date">From : <%= (event.start_date).strftime("%B %e, %Y") %></p>
<p class="event-date">To : <%= (event.end_date).strftime("%B %e, %Y") %></p>
<p class="event-type"><%= event.event_type.name %></p>
<p class="event-description"><%= event.description %></p>
<p class="event-adress"><%= event.address %></p>
<%= link_to "Visit event's website", event.event_website, class: "event-btn ired", target: "_blank" %>
