<%= render "events/home_header" %>
<div class="container">
  <div class="row">
    <div class="col-4">

      <div class="filter-card">
        <div class="gradient-square">
          <h5 class="gradient-square-text">Filters</h5>

        </div>
        <%= render "filter", interest_categories: @interest_categories%>
      </div>

    </div>
    <div class="col-8">
      <%= render "map", markers: @markers %>
    </div>
  </div>
</div>
<%= render "map_event_filter", interest_category: @interest_category %>
<%= render "map_event_modal", markers: @markers %>